@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Glacial Indifference';
  src:
  url('../public/fonts/GlacialIndifference-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../public/fonts/GlacialIndifference-Regular.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/GlacialIndifference-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal, bold;
}
@font-face {
  font-family: 'Glacial Indifference';
  src:
  url('../public/fonts/GlacialIndifference-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../public/fonts/GlacialIndifference-Bold.woff') format('woff'), /* Less Modern Browsers */
  url('../public/fonts/GlacialIndifference-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Glacial Indifference';
  background: #F6F6F6;
  color: #8D6F57;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  transition-duration: 200ms;
}
h1, .logo {
  font-family: 'Forum', cursive;
}
.arrow-hover-outer:hover .arrow-hover-inner {
  transition-duration: 200ms;
  transform: translateX(2px);
}