@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Glacial Indifference';
  src:
  url('../public/fonts/GlacialIndifference-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../public/fonts/GlacialIndifference-Regular.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/GlacialIndifference-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal, bold;
}
@font-face {
  font-family: 'Glacial Indifference';
  src:
  url('../public/fonts/GlacialIndifference-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../public/fonts/GlacialIndifference-Bold.woff') format('woff'), /* Less Modern Browsers */
  url('../public/fonts/GlacialIndifference-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Glacial Indifference';
  background: #F6F6F6;
  color: #8D6F57;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  transition-duration: 200ms;
}
h1, .logo {
  font-family: 'Forum', cursive;
}
.arrow-hover-outer:hover .arrow-hover-inner {
  transition-duration: 200ms;
  transform: translateX(2px);
}

.image-fader {
  width: 100%;
  height: auto;
}

.image-fader img {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 28s;
}

@keyframes imagefade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 21s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 14s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 7s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 0;
}