@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  width: 0.8em;
}
::-webkit-scrollbar-track {
  background: #f6f6f660;
}
::-webkit-scrollbar-thumb {
  background: #55697385;
}

* {
  box-sizing: border-box;
  transition-duration: 200ms;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #f6f6f6;
  color: #8d6f57;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

.screen {
  min-height: calc(100vh - 320px);
}

.arrow-hover-outer:hover .arrow-hover-inner {
  transition-duration: 200ms;
  transform: translateX(2px);
}

.image-fader {
  width: 100%;
  height: auto;
}

.image-fader img {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 28s;
}

@keyframes imagefade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 21s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 14s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 7s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 0;
}
